name: Build and Deploy PiShot Web API to Azure

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore
      run: dotnet restore ./PiShotWebApi/PiShotWebApi.csproj

    - name: Build
      run: dotnet build --configuration Release ./PiShotWebApi/PiShotWebApi.csproj


    - name: Run Unit Tests
      run: dotnet test ./TestPiShot/TestPiShot.csproj --configuration Release --no-build


    - name: Publish
      run: dotnet publish ./PiShotWebApi/PiShotWebApi.csproj -c Release -o published

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: webapi
        path: published

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: webapi
        path: webapi

    - name: Login to Azure with OIDC
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_2566858AC351414C8F6C198E37FA02AE }}
        tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_2A40864BB6B34B67813EB077A6BD0A1B }}
        subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_CB4A793B90E348329A494CAAD99E8CDE }}

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: 'pishot-project'
        slot-name: 'Production'
        package: webapi
